<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Type:</strong>
  <%= @task.type %>
</p>

<p>
  <strong>Dateline:</strong>
  <%= @task.dateline %>
</p>

<p>
  <strong>Timeline:</strong>
  <%= @task.timeline %>
</p>

<p>
  <strong>Taskable:</strong>
  <%= @task.taskable_id %>
</p>

<p>
  <strong>Taskable type:</strong>
  <%= @task.taskable_type %>
</p>

<p>
  <strong>Description:</strong>
  <%= @task.description %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
